

<div style="text-align:center">
  <h1>
     <!--{{ title }}:-->
     Demo Tesseract :
  </h1>
  <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
<!-- Button Takes Photo -->
<br>
<button class="actionBtn" (click)="triggerSnapshot();" style="margin-left: auto; margin-right: auto;">Take A Snapshot</button>
<!-- Snapshot Div where image will be shown -->
<div class="snapshot" *ngIf="webcamImage">
<img [src]="webcamImage.imageAsDataUrl"/>
</div>
  <h2>Résultat:</h2>
  <h3>
    {{ ocrResult }}
  </h3>
</div>





